* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-header {
    background-color: rgb(24, 17, 80);
}

#logodiscord {margin: 16px
}

.headerlinks {color: white;
    word-spacing: 50px;
    font-weight: bold;}

    .btnform {margin-left: 50px;
        border-radius: 50px;
         width: 95px;}
         
         .bgjumbo {background-image: url(../img/jumbo.png);
            width: 102%;
            height: 500px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .maintitle {
            color: white;
            text-align: center;
            font-weight: bold;
            margin-top: 80px;
        }
        .subtitle {color:white;
        margin-top:40px;
        line-height: 1.5;}

        .btnmain {margin-top: 20px;
        margin-left: 30px;
    border-radius: 10px;}